html, body {
    --left-bar: 100px;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#left-bar {
    height: 100%;
    width: var(--left-bar);
    color: #282a36;
    background-color: #f8f8f2;
}

#main-area {
    background-color: #282a36;
    color: #f8f8f2;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc( 100% - var(--left-bar) );
}