body,
html {
    background-color: var(--bg);
    color: var(--fg);
    width: 900px;
    max-width: 100%;
    margin: auto;
}

a {
    padding: 8px 15px;
    text-decoration: underline;
    font-weight: bold;
    color: var(--fg);
}

a:hover {
    color: var(--cyan);
}

#page_title {
    text-align: center;
}

#links {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;
}

#links a {
    display: inline;
}

#posts {
    width: 100%;
}

#posts th {
    display: none;
}

#posts td {
    text-align: center;
}
