body,
html {
    background-color: #000;
    color: white;
    width: 900px;
    max-width: 100%;
    margin: auto;
}

#page_title {
    text-align: center;
}

#links {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #000;
    border-bottom: 1px solid #000;
}

#links ul {
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

#links li {
    float: left;
}

#links li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-right: 1px solid #000;
}

#links li:first-child a {
    border-left: 1px solid #000;
}

#links li a:hover {
    color: #ff0;
    background-color: #000;
}
